
    <form [formGroup]= "form" (ngSubmit) = "guardarTarjeta()" novalidate>

        <mat-form-field class="d-block">
            <input matInput type="text" formControlName="titular"  placeholder="Titular" required >
            <mat-error *ngIf="this.form.get('titular').invalid && this.form.get('titular').touched" >
                Ingresa El Nombre del <strong>Titular</strong>
             </mat-error>
             <mat-icon matSuffix *ngIf="this.form.get('titular').invalid && this.form.get('titular').touched" style="color: red">account_circle</mat-icon>
             <mat-icon matSuffix *ngIf="(this.form.get('titular').valid )  || (this.form.get('titular').untouched )" style="color: green" >account_circle</mat-icon>
          </mat-form-field>

          <mat-form-field class="d-block">
            <input matInput type="text" placeholder="numeroTarjeta" formControlName="numeroTarjeta" maxlength="16" required>
            <mat-error *ngIf="this.form.get('numeroTarjeta').invalid && this.form.get('numeroTarjeta').touched" >
                Ingresa El Numero de Tarjeta del <strong>Titular</strong>
             </mat-error>
             <mat-icon matSuffix *ngIf="this.form.get('numeroTarjeta').invalid && this.form.get('numeroTarjeta').touched" style="color: red">credit_card</mat-icon>
             <mat-icon matSuffix *ngIf="(this.form.get('numeroTarjeta').valid )  || (this.form.get('numeroTarjeta').untouched )" style="color: green" >credit_card</mat-icon>
          </mat-form-field>

          <mat-form-field class="d-block">
            <input matInput type="text" placeholder="fechaExpiracion" formControlName="fechaExpiracion" maxlength="5" placeholder="MM/YY">
            <mat-error *ngIf="this.form.get('fechaExpiracion').invalid && this.form.get('fechaExpiracion').touched" >
                Ingresa La Fecha de Expiración
             </mat-error>
             <mat-icon matSuffix *ngIf="this.form.get('fechaExpiracion').invalid && this.form.get('fechaExpiracion').touched" style="color: red">calendar_today</mat-icon>
             <mat-icon matSuffix *ngIf="(this.form.get('fechaExpiracion').valid )  || (this.form.get('fechaExpiracion').untouched )" style="color: green" >calendar_today</mat-icon>
          </mat-form-field>

          <mat-form-field class="d-block">
            <input matInput type="text" placeholder="cvv" formControlName="cvv" maxlength="3" placeholder="123">
            <mat-error *ngIf="this.form.get('cvv').invalid && this.form.get('cvv').touched" >
                Ingresa El Codigo
             </mat-error>
             <mat-icon matSuffix *ngIf="this.form.get('cvv').invalid && this.form.get('cvv').touched" style="color: red">vpn_key</mat-icon>
             <mat-icon matSuffix *ngIf="(this.form.get('cvv').valid )  || (this.form.get('cvv').untouched )" style="color: green" >vpn_key</mat-icon>
          </mat-form-field>

          <div class="form-group">
        
            <button class="btn btn-success btn-lg btn-block" [disabled]="form.invalid" type="submit"><i class="fas fa-database"></i> Aceptar</button>
        </div>
    </form>




<!--<form [formGroup]= "form" (ngSubmit) = "guardarTarjeta()" >
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="fas fa-user-circle" [class.green-icon]="this.form.get('titular').valid"
                        [class.red-icon]="this.form.get('titular').invalid && this.form.get('titular').touched"></i>
                </div>
            </div>
            <input type="text" class="form-control" formControlName="titular" placeholder="Titular">
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text bg-white">
                    <i class="fas fa-credit-card" [class.green-icon]="this.form.get('numeroTarjeta').valid"
                    [class.red-icon]="this.form.get('numeroTarjeta').invalid && this.form.get('numeroTarjeta').touched"></i>
                </div>
            </div>
            <input type="text" class="form-control" formControlName="numeroTarjeta" maxlength="16" placeholder="Numero de Tarjeta">
        </div>
        
    </div>

    <div class="row">
        <div class="form-group col-md-7">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text bg-white">
                            <i class="fas fa-calendar-alt" [class.green-icon]="this.form.get('fechaExpiracion').valid"
                            [class.red-icon]="this.form.get('fechaExpiracion').invalid && this.form.get('fechaExpiracion').touched"></i>
                        </div>
                    </div>
                    <input type="text" class="form-control" formControlName="fechaExpiracion" maxlength="5" placeholder="MM/YY">
                </div>
            </div>
        </div>
        <div class="form-group col-md-5">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text bg-white">
                            <i class="fas fa-key" [class.green-icon]="this.form.get('cvv').valid"
                            [class.red-icon]="this.form.get('cvv').invalid && this.form.get('cvv').touched"></i>
                        </div>
                    </div>
                    <input type="text" class="form-control" formControlName="cvv" placeholder="CVV" maxlength="3">
                </div>
            </div>
        </div>
    </div>
    <div class="form-grup">
        
        <button class="btn btn-success btn-lg btn-block" [disabled]="form.invalid" type="submit"><i class="fas fa-database"></i> Aceptar</button>
    </div>

 
</form>-->
